version: '3.8' # Or your desired Compose file version

services:
    postgres:
        image: postgres

        ports:
            - "5432:5432"

        environment:
            POSTGRES_PASSWORD: password
            POSTGRES_USER: postgres
            POSTGRES_DB: dbstartup

        volumes:
            - ./volumes/postgres_data:/var/lib/postgresql #/var/lib/postgresql/data

    pgadmin:
        image: dpage/pgadmin4

        ports:
            - "5050:80"

        environment:
            PGADMIN_DEFAULT_EMAIL: user@example.com
            PGADMIN_DEFAULT_PASSWORD: password

        user: "${UID}:${GID}" # This line sets the user and group ID

        volumes:
            - ./volumes/pgadmin4_data:/var/lib/pgadmin # Named volume for persistence

        depends_on:
          - postgres

volumes:
    postgres_data:
    pgadmin4_data:

networks:
    default:
        driver: bridge

